<a href="https://colab.research.google.com/github/thai94/d2l/blob/main/4.multilayer_perceptrons/4_10_predicting_house_prices_on_kaggle.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [225]:
import hashlib
import os
import tarfile
import zipfile
import requests
from torch.utils import data

In [226]:
DATA_HUB = dict()
DATA_URL = 'http://d2l-data.s3-accelerate.amazonaws.com/'

In [227]:
def download(name, cache_dir=os.path.join('..', 'data')):
    """Download a file inserted into DATA_HUB, return the local filename."""
    assert name in DATA_HUB, f"{name} does not exist in {DATA_HUB}."
    url, sha1_hash = DATA_HUB[name]
    os.makedirs(cache_dir, exist_ok=True)
    fname = os.path.join(cache_dir, url.split('/')[-1])
    if os.path.exists(fname):
        sha1 = hashlib.sha1()
        with open(fname, 'rb') as f:
            while True:
                data = f.read(1048576)
                if not data:
                    break
                sha1.update(data)
        if sha1.hexdigest() == sha1_hash:
            return fname  # Hit cache
    print(f'Downloading {fname} from {url}...')
    r = requests.get(url, stream=True, verify=True)
    with open(fname, 'wb') as f:
        f.write(r.content)
    return fname

In [228]:
def download_extract(name, folder=None):
    """Download and extract a zip/tar file."""
    fname = download(name)
    base_dir = os.path.dirname(fname)
    data_dir, ext = os.path.splitext(fname)
    if ext == '.zip':
        fp = zipfile.ZipFile(fname, 'r')
    elif ext in ('.tar', '.gz'):
        fp = tarfile.open(fname, 'r')
    else:
        assert False, 'Only zip/tar files can be extracted.'
    fp.extractall(base_dir)
    return os.path.join(base_dir, folder) if folder else data_dir

def download_all():
    """Download all files in the DATA_HUB."""
    for name in DATA_HUB:
        download(name)

In [229]:
import numpy as np
import pandas as pd
import torch
from torch import nn

In [230]:
DATA_HUB['kaggle_house_train'] = (
    DATA_URL + 'kaggle_house_pred_train.csv',
    '585e9cc93e70b39160e7921475f9bcd7d31219ce')
DATA_HUB['kaggle_house_test'] = (
    DATA_URL + 'kaggle_house_pred_test.csv',
    'fa19780a7b011d9b009e8bff8e99922a8ee2eb90')

In [231]:
train_data = pd.read_csv(download('kaggle_house_train'))
test_data = pd.read_csv(download('kaggle_house_test'))

In [232]:
print(train_data.shape)
print(test_data.shape)

(1460, 81)
(1459, 80)

In [233]:
train_data.iloc[0:4]

   Id  MSSubClass MSZoning  ...  SaleType  SaleCondition SalePrice
0   1          60       RL  ...        WD         Normal    208500
1   2          20       RL  ...        WD         Normal    181500
2   3          60       RL  ...        WD         Normal    223500
3   4          70       RL  ...        WD        Abnorml    140000

[4 rows x 81 columns]

In [234]:
all_features = pd.concat((train_data.iloc[:, 1:-1], test_data.iloc[:, 1:]))

In [235]:
all_features.iloc[0:4]

   MSSubClass MSZoning  LotFrontage  ...  YrSold SaleType SaleCondition
0          60       RL         65.0  ...    2008       WD        Normal
1          20       RL         80.0  ...    2007       WD        Normal
2          60       RL         68.0  ...    2008       WD        Normal
3          70       RL         60.0  ...    2006       WD       Abnorml

[4 rows x 79 columns]

In [236]:
numeric_features = all_features.dtypes[all_features.dtypes != 'object'].index

In [237]:
all_features[numeric_features] = all_features[numeric_features].apply(lambda x: (x - x.mean()) / x.std())

In [238]:
all_features[numeric_features] = all_features[numeric_features].fillna(0)

In [239]:
all_features = pd.get_dummies(all_features, dummy_na=True)

In [240]:
all_features.shape

(2919, 331)

In [241]:
all_features.iloc[0:4]

   MSSubClass  LotFrontage  ...  SaleCondition_Partial  SaleCondition_nan
0    0.067320    -0.184443  ...                      0                  0
1   -0.873466     0.458096  ...                      0                  0
2    0.067320    -0.055935  ...                      0                  0
3    0.302516    -0.398622  ...                      0                  0

[4 rows x 331 columns]

In [242]:
n_train = train_data.shape[0]
train_features = torch.tensor(all_features[:n_train].values, dtype=torch.float32)
test_features = torch.tensor(all_features[n_train:].values, dtype=torch.float32)
train_labels = torch.tensor(
    train_data.SalePrice.values.reshape(-1, 1), dtype=torch.float32)

In [243]:
all_features.shape

(2919, 331)

In [244]:
loss = nn.MSELoss()
in_features = train_features.shape[1]
def get_net():
    net = nn.Sequential(nn.Linear(in_features,1))
    return net

In [245]:
def log_rmse(net, features, labels):
    # To further stabilize the value when the logarithm is taken, set the
    # value less than 1 as 1
    clipped_preds = torch.clamp(net(features), 1, float('inf'))
    rmse = torch.sqrt(loss(torch.log(clipped_preds),
                           torch.log(labels)))
    return rmse.item()

In [246]:
def load_array(data_arrays, batch_size, is_train=True):
    """Construct a PyTorch data iterator."""
    dataset = data.TensorDataset(*data_arrays)
    return data.DataLoader(dataset, batch_size, shuffle=is_train)

In [247]:
def train(net, train_features, train_labels, test_features, test_labels,
          num_epochs, learning_rate, weight_decay, batch_size):
  
  train_ls, test_ls = [], []
  train_iter = load_array((train_features, train_labels), batch_size)
  optimizer = torch.optim.Adam(net.parameters(),
                                 lr = learning_rate,
                                 weight_decay = weight_decay)
  for epoch in range(num_epochs):
    for X, y in train_iter:
      optimizer.zero_grad()
      l = loss(net(X), y)
      l.backward()
      optimizer.step()
    train_ls.append(log_rmse(net, train_features, train_labels))
    if test_labels is not None:
      test_ls.append(log_rmse(net, test_features, test_labels))
  return train_ls, test_ls

In [248]:
def get_k_fold_data(k, i, X, y):
    assert k > 1
    fold_size = X.shape[0] // k
    X_train, y_train = None, None
    for j in range(k):
      idx = slice(j * fold_size, (j + 1) * fold_size)
      X_part, y_part = X[idx, :], y[idx]
      if j == i:
        X_valid, y_valid = X_part, y_part
      elif X_train is None:
         X_train, y_train = X_part, y_part
      else:
        X_train = torch.cat([X_train, X_part], 0)
        y_train = torch.cat([y_train, y_part], 0)
    return X_train, y_train, X_valid, y_valid

In [249]:
def k_fold(k, X_train, y_train, num_epochs, learning_rate, weight_decay,
           batch_size):
  train_l_sum, valid_l_sum = 0, 0
  for i in range(k):
    data = get_k_fold_data(k, i, X_train, y_train)
    net = get_net()
    train_ls, valid_ls = train(net, *data, num_epochs, learning_rate[i],
                                   weight_decay[i], batch_size[i])
    train_l_sum += train_ls[-1]
    valid_l_sum += valid_ls[-1]
    print(f'fold {i + 1}, train log rmse {float(train_ls[-1]):f}, '
              f'valid log rmse {float(valid_ls[-1]):f}')
  return train_l_sum / k, valid_l_sum / k

In [250]:
k, num_epochs = 5, 1000
lr = [0.1, 0.5, 0.7, 0.8, 1]
weight_decay = [0, 0.1, 0.2, 0.3, 0.5]
batch_size = [32, 64, 128, 256, 517]
train_l, valid_l = k_fold(k, train_features, train_labels, num_epochs, lr,
                          weight_decay, batch_size)
print(f'{k}-fold validation: avg train log rmse: {float(train_l):f}, '
      f'avg valid log rmse: {float(valid_l):f}')

fold 1, train log rmse 0.260979, valid log rmse 0.253352
fold 2, train log rmse 0.152329, valid log rmse 0.184551
fold 3, train log rmse 0.170759, valid log rmse 0.176997
fold 4, train log rmse 0.289230, valid log rmse 0.269280
fold 5, train log rmse 0.494329, valid log rmse 0.499446
5-fold validation: avg train log rmse: 0.273525, avg valid log rmse: 0.276725